body {
  margin: 0;
}

/* Set variables */
:root {
  /* Variables for temperature guage indicator */
  --pointerleft: 92%;
  --pointertop: 40%;
  --pointerdeg: 90deg;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  overflow: hidden;
}

.topnav img {
  float: left;
  padding: 14px 16px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #94a7db;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #086ac5;
  color: white;
}

/* Styling for home dashboard info */
.square {
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  float: left;
  margin-bottom: 2.5%;
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}

.square-content {
  height: 90%; /* = 100% - 2*5% padding */
  padding: 5%;
  position: absolute;
  width: 90%; /* = 100% - 2*5% padding */
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table div {
  color: #333;
  font-weight: 900;
  margin-top: 1%;
  text-align: center;
}

.label {
  float: left;
  font-size: 115%;
  font-weight: 600;
  margin-left: 3%;
  margin-top: 0%;
  padding-bottom: 1%;
  text-align: left;
  vertical-align: text-top;
}

/* Styling for temperature guage */
.ring {
  background-image: radial-gradient(
      blue 0,
      blue 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(red 0, red 50%, transparent 50%, transparent 100%),
    radial-gradient(white 0, white 60%, transparent 60%, transparent 100%),
    conic-gradient(
      green 0deg,
      orange 50deg,
      red 130deg,
      white 130deg,
      white 230deg,
      blue 180deg,
      green 350deg
    );
  background-position: 9.3% 82.6%, 90.6% 82.7%, center center, center center;
  background-repeat: no-repeat;
  background-size: 11% 11%, 11% 11%, 100% 100%, 100% 100%;
  border-radius: 50%;
  border-style: none;
  height: 100%;
  position: relative;
  width: 100%;
}

.ring::after {
  background-color: white;
  border-radius: 15%;
  border-style: solid;
  border-width: 3.5px;
  content: "";
  height: 15%;
  left: var(--pointerleft);
  position: absolute;
  top: var(--pointertop);
  transform: rotate(var(--pointerdeg));
  width: 5%;
}

.speed {
  color: gray;
  display: inline-block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.speed .number {
  font-size: 6vw;
}

.temperature-F {
  font-size: 400%;
}

.temperature-C {
  font-size: 200%;
  padding-top: 10%;
}

.humidity {
  font-size: 500%;
}

.pressure {
  font-size: 200%;
  padding-bottom: 10%;
}

.pressure-inHg {
  font-size: 300%;
}

.wind-speed {
  font-size: 200%;
  padding-bottom: 10%;
}

.wind-speed-Mph {
  font-size: 350%;
}

/* Styling for about page */
.about-info {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0.1%;
}

.about-info p {
  font-size: 115%;
  text-align: left;
}

.about-people {
  margin-left: 4%;
}

.name {
  margin-bottom: 1%;
}

/* Style for Graphs page */
.chart {
  height: 50%;
  width: 100%;
}

.chart-container {
  margin-left: 5%;
  margin-right: 5%;
}

.chart-container button.active {
  background-color: #086ac5;
  color: white;
}

.time-options {
  margin-bottom: 1.5%;
  margin-top: 20px;
  width: 100%;
}

.time-options button {
  background-color: #333;
  border: 0px;
  border-radius: 5px;
  box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.5);
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(16.666% - 10px);
}

/* Clear floats (clearfix hack) */
.time-options:after {
  clear: both;
  content: "";
  display: table;
}

/* Add a background color on hover */
.time-options button:hover {
  background-color: #94a7db;
  color: black;
}

.data-types {
  margin-bottom: 1%;
  margin-left: 5%;
  margin-left: 5%;
  margin-top: 1%;
  width: 100%;
}

.chart-button {
  background-color: #333;
  border: 0px;
  border-radius: 3px;
  box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  height: 25px;
  margin-bottom: 1%;
  margin-left: calc(4% - 3px);
  margin-right: calc(4% - 3px);
  width: 15%;
}

.chart-button:hover {
  background-color: #94a7db;
  color: black;
}

/* for tiny screens (mobile) */
@media screen and (max-width: 800px) {
  .square {
    margin-left: calc(23.5% - 3px); /* fills in rest of width - adds to 100% */
    margin-right: calc(23.5% - 3px);
    padding-bottom: 40%;
    width: 55%; /* fits one square */
  }

  .table-cell {
    padding-left: 0%;
    padding-right: 0%;
  }

  .ring {
    background-position: 12.4% 85.9%, 87.6% 86%, center center, center center;
  }
}

/* for small screens */
@media screen and (min-width: 550px) and (max-width: 900px) {
}

/* for small and regular screens */
@media screen and (min-width: 800px) {
  .square {
    margin-left: calc(7.5% - 3px); /* fills in rest of width - adds to 100% */
    margin-right: calc(7.5% - 3px);
    padding-bottom: calc(35% - 3px - 20px - 3em);
    padding-top: 1%;
    width: 35%; /* fits two squares */
  }

  .ring {
    background-position: 11.1% 84.7%, 88.3% 85.3%, center center, center center;
  }
}

/* for regular screens */
@media screen and (min-width: 1000px) {
  .topnav,
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}

/* for large screens */
@media screen and (min-width: 1428px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}
