{% extends 'base.html' %}

{% block title %}Graphs{% endblock %}

{% block header %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
{% endblock %}

{% block nav_graphs %}<a class="active" href="/graphs">Graphs</a>{% endblock %}

{% block content %}
<body>
    <div class="chart-container">
        <div class="chart-options">
            <div class="time-options">
                <button class="{{ timespan_active[0] }}" id="year" onclick="location.href='/graphs/year/{{ datatype }}';">1 Year</button>
                <button class="{{ timespan_active[1] }}" id="half_year" onclick="location.href='/graphs/half_year/{{ datatype }}';">6 Months</button>
                <button class="{{ timespan_active[2] }}" id="month" onclick="location.href='/graphs/month/{{ datatype }}';">1 Month</button>
                <button class="{{ timespan_active[3] }}" id="week" onclick="location.href='/graphs/week/{{ datatype }}';">1 Week</button>
                <button class="{{ timespan_active[4] }}" id="day" onclick="location.href='/graphs/day/{{ datatype }}';">1 Day</button>
                <button class="{{ timespan_active[5] }}" id="hour" onclick="location.href='/graphs/hour/{{ datatype }}';">1 Hour</button>
            </div>
            <div class="data-types">
                <button class="chart-button {{ datatype_active[0] }}" id="temperature" onclick="location.href='/graphs/{{ timespan }}/temperature';">Temperature</button>
                <button class="chart-button {{ datatype_active[1] }}" id="humidity" onclick="location.href='/graphs/{{ timespan }}/humidity';">Humidity</button>
                <button class="chart-button {{ datatype_active[2] }}" id="pressure" onclick="location.href='/graphs/{{ timespan }}/pressure';">Pressure</button>
                <button class="chart-button {{ datatype_active[3] }}" id="windSpeed" onclick="location.href='/graphs/{{ timespan }}/windSpeed';">Wind Speed</button>
            </div>
        </div>
        <canvas id="chart"></canvas>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/graphs.js') }}"></script>
</body>
{% endblock %}