{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav_home %}<a class="active" href="/">Home</a>{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell temperature">
                        98*F
                    </div>
                </div>    
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell temperature">
                        43%
                    </div>
                </div>    
            </div>
        </div>    
    </div>
{% endblock %}