{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block nav_home %}<a class="active" href="/">Home</a>{% endblock %}

{% block content %}
<body onload="javascript:main();">    
    <div class="dashboard">
        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell">
                        <div class="ring">
                            <div class="speed">
                                <div class="temperature-F" id="temperature-F"></div>
                                <div class="temperature-C" id="temperature-C"></div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell humidity" id="humidity"></div>
                </div>    
            </div>
        </div>

        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell">
                        <div class="pressure pressure-inHg" id="pressure-inHg"></div>
                        <div class="pressure pressure-hPa" id="pressure-hPa"></div>
                        <div class="pressure pressure-atm" id="pressure-atm"></div>
                    </div>
                </div>    
            </div>
        </div>    

        <div class="square">
            <div class="square-content">
                <div class="table">
                    <div class="table-cell wind-speed" id="wind-speed"></div>
                </div>    
            </div>
        </div>    
    </div>
</body>
{% endblock %}