{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav_home %}<a class="active" href="/">Home</a>{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-col1">
            <div class="temp-info-card">Temp string</div>
            <div class="pressure-info-card">Temp string</div>
        </div>
        <div class="dashboard-col2">
            <div class="humidity-info-card">Temp string</div>
            <div class="wind-speed-info-card">Temp string</div>
        </div>
    </div>
{% endblock %}